@import url('https://fonts.google.com/specimen/Source+Serif+Pro');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    

}
body{
    align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    /* position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 5px; */
    
    width: auto;
    margin-top: 40%;
  

}
h2{
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
   letter-spacing: 1px;}
   .inputBx{
       margin-bottom: 30px;
   }
  
   .inputBx span{
       font-size: 16px;
       margin-bottom: 5px;
       display: inline-block;
       font-weight: 200px;
       font-size: 16px;
       letter-spacing: 1px;
   }
   .inputBx input{
       width: 100%;
       padding: 10px 20px;
      font-weight: 400;
      
      
   }
.inputBx input[type="submit"]{
    background: black;
    color:white ;
    font-weight: 500;
    cursor: pointer;
    flex-wrap:wrap 20;

}
.text{
    text-align: center;

    
}
p{
    text-align: center;
}
.text a{
    text-decoration: none;
    color: black;
}