#box{
    width: 60%;
    height: 860px;
    margin: auto;
    border: 1px solid black;
    background-color: aquamarine;
    
}
input,select{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 40%;
    padding: 1%;
}
h1{
    text-align: center;
}